<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /comunicacion
  RewriteRule ^comunicacion/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /comunicacion/index.html [L]
</IfModule>