.el-menu.el-menu--horizontal {
  border-bottom: none;
}
.el-menu--horizontal>.el-menu-item:nth-of-type(2) {
  float: right;
}
.el-menu--horizontal>.el-menu-item:nth-of-type(3) {
  float: right;
}
/**/
#login-card, #nf-card{
  max-width: 520px;
  position: absolute;
  top: 15%;
  right: 5%;
  text-align: center;
}
#login-card div, #nf-card div{
  background-color:rgba(0,0,0,0.3);
  border: none;
  color: #fff;
}
.title-card{
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}
.title-card-error{
  margin: 0 auto;
  text-align: justify;
  font-weight: 400;
}
.title-card-return{
  margin: 0 auto;
  font-weight: 400;
}
.title-card-return a{
  color: #fff;
  text-decoration: none;
}
.text-card{
  text-align: justify;
}
.options-card{
  margin: 0 auto
}
.text-button{
  font-size: 14px;
  padding-left: 5px;
}

/**/
body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
/*ROOT COMPONENT*/
#comunicados_uvm{
  /*background: #b71c1c;*/
  background: #909399;
}
#comunicados_unitec{
  background: #006fba;
}
/*NAV*/
.nav_mi{
  width: auto;
  height: 50px;
}
.nav_button_search:focus{
  outline: none;
}
.pos_icon{
  position: relative;
  top: -1px;
  left: 2px;
}
#emd{
  border-bottom: none;
}
/*SEARCH*/
.search_container_uvm{
  background-color: #b32218;
}
.search_container_unitec{
  background-color: #0f406b;
}
.sc-position{
  padding: 10px;
  text-align: right;
}
.sc-info{
  width: 25%;
  position: absolute;
  top: 109px;
  z-index: 1;
  right: 0;
}
/*PARALLAX*/
.parallax{
  padding-top: 150px; 
  padding-bottom: 150px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: bottom center;
}
.paralax_title{
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}
.paralax_title_date{
  color: #fff;
  background-color: rgba(25,25,25,.4);
  padding: 0px 8px;
  border-radius: 10px;
  font-size: 30px;
}
/*MAIN*/
.el-main{
  min-height: 50vh;
  flex-direction: column;
}
.item{
  border-radius: 10px;
  padding: 1vw;
  background: #f2f2f3;
  margin-top: 10px;
}
.item_date{
  text-align: right;
  font-weight: bold;
  font-style: italic;
}
.item_info{
  margin-top: 10px;
}
.item_txt{
  text-decoration: none;
  font-size: 18px;
  color: #56575F;
}
.item_txt_uvm:hover{ 
  color: #b32218;
  font-weight: bold;
}
.item_txt_unitec:hover{
  color: #0f406b;
  font-weight: bold;
}
.msgSlides{
  text-align: center;
}
.msgSlides h1{
  color: #fff;
  font-weight: 400;
}

/*FOOTER*/
#footer_unitec{
  background: #0f406b;
  padding-top: 1.5em;
  padding-bottom: 1em;
}
#footer_uvm{
  background: #b32218;
  padding-top: 1.5em;
  padding-bottom: 1em;
}
.footer_space{
  padding: 0 18px;
}
.footer_marca a{
  text-decoration: none;
  color: grey;
}
.footer_marca a:hover{
  color: grey;
  font-weight: bold;
}
.footer_sn{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  justify-items: center;
}
.footer_icon{
  font-size: 30px;
}
.footer_icon a{
  text-decoration: none;
  color: #fff;
}
.footer_icon a:hover{
  color: grey;
  font-weight: bold;
}
.footer_align{
  text-align: center;
}
.footer_made{
  color: #fff;
}
.footer_made_bold{
  font-weight: bold;
  color: grey;
}
/**/
.textLink{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

